body{
    font-family: Arial, sans-serif;
    padding: 1px;
    color: aliceblue;
    text-align: center;
    
    background-color: rgb(255, 255, 255);
    background-image: url('https://i.pinimg.com/originals/f1/ed/a4/f1eda4768df8d8135c779772f2833e88.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
}

button{   
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color:rgb(155, 23, 207);
    padding: 10px;
    font-size: 16px;
    border-radius: 100px;
}

input{
    padding: 10px;
    margin: 10px;
}